.sample-item {
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("https://via.placeholder.com/500/09f/fff.png");
  background-color: red;
}
